.terms {
  padding: 56px 0;
  .back-btn {
    margin: 0;
  }
  h1 {
    font-size: 30px;
    font-weight: 900;
    font-family: "AvenirLTStd-Book";
    margin-bottom: 0px;
    line-height: 0;
  }
  h4 {
    font-size: 25px;
    font-weight: 500;
  }
  textarea {
    height: 200px;
  }
  .paras {
    margin: 70px 0 50px;
    p {
      margin: 0 0 20px;
    }
  }
}

@media(max-width:992px){
  .terms{ .paras {
     margin: 55px 0 35px; 
} }
}
@media(max-width:568px){
  .terms{ .paras {
     margin: 40px 0 10px; 
} }
}