<section class="details">
    <div class="container-outer">
        <div class="container-inner">
            <div class="row align-items-center heading">
                <div class="col-lg-2 col-md-3 col-sm-4 col-5">
                    <div class="row mb-3 no-gutters align-items-center back-btn justify-content-center"
                        [routerLink]="['/user']" routerLinkActive="router-link-active">
                        <div>
                            <img src="assets/images/svg/back-arrow.svg" class="img-fluid" />
                        </div>
                        <div>
                            <h3>Back</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-9 text-center">
                    <h1>Service Details</h1>
                </div>
            </div>
            <div class="row justify-content-between mb-0">
                <div class="col-lg-5 col-md-6 col-12 card-outer" *ngFor="let summary of requestData">
                    <div class="service-card">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-md-6 col-sm-6 col-6">
                                <label>Worker Name</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6 text-right">
                                <p>{{summary.worker_name}}</p>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-6 col-sm-6 col-6">
                                <label>Service Time</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6 text-right">
                                <p>{{summary.time_duration}}hrs</p>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center justify-content-between">
                            <div class="col-md-6 col-sm-6 col-6">
                                <label>Sub Category</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6 text-right">
                                <p>{{summary.sub_service_category_name}}</p>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center justify-content-between">
                            <div class="col-md-6 col-sm-6 col-6">
                                <label>Services</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6 text-right">
                                <p>{{summary.service_category_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-8 col-sm-6 col-10 text-center">
                                <button type="button" class="green-btn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mb-4">
                <form [formGroup]="promoForm" (ngSubmit)= "applyCoupon()">
                <div class="col-lg-4 col-md-5 col-sm-7 col-12 text-right">
                    <input type="text" class="promo" placeholder="Apply Promo Code" formControlName="promoCode">
                    <div *ngIf="submitted && values.promoCode.errors" class="text-danger">
                        <div *ngIf="values.promoCode.errors.required">
                          Promo Code is required
                        </div>
                        <div *ngIf="values.promoCode.errors.maxlength">
                          Maximum Length is 15.
                        </div>
                      </div>
                </div>
                <div class="text-right">
                    <button class="green-btn">Apply Promo Code</button>
                </div>
            </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-4"><strong>Invoice Details</strong></h3>
                </div>
                <div class="col-md-12">
                    <div class="service-card w-100">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-6">
                                <label class="mb-3">Item Total</label>
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="mb-3">{{totalPrice}}</p>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center justify-content-between" *ngIf="discountPrice == null ">
                            <div class="col-md-6">
                                <label class="mb-3">Discount</label>
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="mb-3 primary-color">0</p>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center justify-content-between" *ngIf="discountPrice != null ">
                            <div class="col-md-6">
                                <label class="mb-3">Discount</label>
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="mb-3 primary-color">{{discountPrice}}</p>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center justify-content-between">
                            <div class="col-md-6">
                                <label class="mb-3">Admin Fees</label>
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="mb-3 primary-color">{{adminValue}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row no-gutters align-items-center justify-content-between">
                            <div class="col-md-6">
                                <label class="mb-3"><strong>To Pay</strong></label>
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="mb-3"><strong>{{totalPricenew}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form [formGroup]="bookingForm" (ngSubmit)= "requestBooking()">
            <div class="row">
                <div class="col-md-12">
                    <label>Special Instructions</label>
                    <textarea formControlName="instruction" placeholder="Please Type Instructions" maxlength="500"></textarea>
                    <div *ngIf="submitted && insValue.instruction.errors" class="text-danger">
                        <!-- <div *ngIf="insValue.instruction.errors.required">
                          Special Instructions are required
                        </div> -->
                        <div *ngIf="insValue.instruction.errors.maxlength">
                          Maximum Length is 500.
                        </div>
                      </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 mb-2">
                    <div class="d-flex">
                        <span>Time Remaining: </span>
                        <p class="primary-color mb-0 ml-1"> <strong>{{counter | formatTime}}</strong></p>
                    </div>

                </div>
                <div class="col-lg-9 col-md-8 align-items-center text-right">
                    <!-- <button class="sq-btn mr-3 mb-3" [routerLink]="['/service/completed']" routerLinkActive="router-link-active" (click)="openModal(content)" >Confirm</button> -->

                    <!-- <button  type="submit" class="sq-btn mr-3 mb-3" (click)="open(content2)">Confirm</button> -->
                    <button  type="submit" class="sq-btn mr-3 mb-3">Confirm</button>
                    <button type="button" class="sq-btn mb-3" [routerLink]="['/user']" routerLinkActive="router-link-active" >Add Worker</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</section>

<ng-template #content2 let-modal>
    <div class="modal-body detail-model">
        <div class="row justify-content-center">
            <img src="assets/images/svg/Component-46.svg" alt="complete" class="img-fluid com-img">
        </div>
        <div class="row justify-content-center ">
            <div>
                <h2>Congratulations</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div>
                <p class="com-model-text">Your service has been confirmed</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 pt-3 text-center">
                <button class="sq-btn" type="button" tabindex="0">Done</button>
            </div>
        </div>
    </div>
</ng-template>