<!-- <section class="payment">
    <div class="conatiner-outer">

        <div class="container-inner">
            <div class="register-tabs">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-12 ">
                        <div class="pay-tab pr-5">
                            <button type="button" class="btn credit-btn" (click)="acc.toggle('toggle-1')">
                                <div class="row align-items-center justify-content-start no-gutters">
                                    <div class="mr-2 credit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="36.004" height="24.003"
                                            viewBox="0 0 36.004 24.003">
                                            <defs>
                                            </defs>
                                            <g id="prefix__credit-card_2_" data-name="credit-card(2)"
                                                transform="translate(0 -85.333)">
                                                <g id="prefix__Group_25603" data-name="Group 25603"
                                                    transform="translate(0 85.333)">
                                                    <g id="prefix__Group_25602" data-name="Group 25602">
                                                        <path id="prefix__Path_8847"
                                                            d="M32.254 85.333H3.75A3.756 3.756 0 000 89.083v16.5a3.756 3.756 0 003.75 3.75h28.5a3.756 3.756 0 003.75-3.75v-16.5a3.756 3.756 0 00-3.746-3.75zm2.25 20.252a2.253 2.253 0 01-2.25 2.25H3.75a2.253 2.253 0 01-2.25-2.25v-16.5a2.253 2.253 0 012.25-2.25h28.5a2.253 2.253 0 012.25 2.25v16.5z"
                                                            class="prefix__cls-1" data-name="Path 8847"
                                                            transform="translate(0 -85.333)" />
                                                    </g>
                                                </g>
                                                <g id="prefix__Group_25605" data-name="Group 25605"
                                                    transform="translate(0 89.834)">
                                                    <g id="prefix__Group_25604" data-name="Group 25604">
                                                        <path id="prefix__Path_8848"
                                                            d="M35.254 149.333H.75a.75.75 0 00-.75.75v4.5a.75.75 0 00.75.75h34.5a.75.75 0 00.75-.75v-4.5a.751.751 0 00-.746-.75zm-.75 4.5H1.5v-3h33v3z"
                                                            class="prefix__cls-1" data-name="Path 8848"
                                                            transform="translate(0 -149.333)" />
                                                    </g>
                                                </g>
                                                <g id="prefix__Group_25607" data-name="Group 25607"
                                                    transform="translate(4.501 100.335)">
                                                    <g id="prefix__Group_25606" data-name="Group 25606">
                                                        <path id="prefix__Path_8849"
                                                            d="M73.751 298.667h-9a.75.75 0 100 1.5h9a.75.75 0 100-1.5z"
                                                            class="prefix__cls-1" data-name="Path 8849"
                                                            transform="translate(-64 -298.667)" />
                                                    </g>
                                                </g>
                                                <g id="prefix__Group_25609" data-name="Group 25609"
                                                    transform="translate(4.501 103.335)">
                                                    <g id="prefix__Group_25608" data-name="Group 25608">
                                                        <path id="prefix__Path_8850"
                                                            d="M73.751 341.333h-9a.75.75 0 100 1.5h9a.75.75 0 100-1.5z"
                                                            class="prefix__cls-1" data-name="Path 8850"
                                                            transform="translate(-64 -341.333)" />
                                                    </g>
                                                </g>
                                                <g id="prefix__Group_25611" data-name="Group 25611"
                                                    transform="translate(25.503 98.835)">
                                                    <g id="prefix__Group_25610" data-name="Group 25610">
                                                        <path id="prefix__Path_8851"
                                                            d="M366.417 277.333h-1.5a2.253 2.253 0 00-2.25 2.25v1.5a2.253 2.253 0 002.25 2.25h1.5a2.253 2.253 0 002.25-2.25v-1.5a2.253 2.253 0 00-2.25-2.25zm.75 3.75a.75.75 0 01-.75.75h-1.5a.75.75 0 01-.75-.75v-1.5a.75.75 0 01.75-.75h1.5a.75.75 0 01.75.75z"
                                                            class="prefix__cls-1" data-name="Path 8851"
                                                            transform="translate(-362.667 -277.333)" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="mr-2">
                                        Credit Card
                                    </div>
                                    <div class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="9.685" height="16.99"
                                            viewBox="0 0 9.685 16.99">
                                            <g id="prefix__arrow-down-sign-to-navigate"
                                                transform="rotate(-90 -40.075 57.066)">
                                                <path id="prefix__Path_8811"
                                                    d="M8.5 106.825a1.186 1.186 0 01-.841-.348l-7.31-7.305a1.19 1.19 0 011.683-1.683l6.468 6.464 6.464-6.464a1.19 1.19 0 011.682 1.683l-7.305 7.305a1.186 1.186 0 01-.841.348z"
                                                    data-name="Path 8811" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </button>
                            <button type="button" class="btn credit-btn" (click)="acc.toggle('toggle-2')">
                                <div class="row align-items-center justify-content-start no-gutters">
                                    <div class="mr-2 credit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="27.785" height="23.847"
                                            viewBox="0 0 27.785 23.847">
                                            <path
                                                d="M26.229 10.371h-.661V6.399a2.944 2.944 0 00-2.94-2.94h-.61l.006-1.476A1.984 1.984 0 0020.041 0H2.41A2.412 2.412 0 000 2.376v19.488a1.984 1.984 0 001.983 1.986h20.65a2.944 2.944 0 002.94-2.94v-3.98h.661a1.552 1.552 0 001.55-1.55v-3.459a1.56 1.56 0 00-1.555-1.55zm-23.819-9h17.63a.615.615 0 01.615.61l-.006 1.482H2.41a1.046 1.046 0 010-2.091zm21.79 19.53a1.576 1.576 0 01-1.573 1.573H1.977a.616.616 0 01-.615-.615V4.587a2.4 2.4 0 001.048.239h20.218A1.576 1.576 0 0124.2 6.399v3.972h-4.666a1.552 1.552 0 00-1.55 1.55v3.459a1.552 1.552 0 001.55 1.55H24.2zm2.211-5.522a.18.18 0 01-.182.182h-6.69a.18.18 0 01-.182-.182v-3.458a.184.184 0 01.182-.182h6.69a.184.184 0 01.182.182v3.459z"
                                                data-name="Path 8852" />
                                        </svg>
                                    </div>
                                    <div class="mr-2">
                                        E-Wallet
                                    </div>
                                    <div class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="9.685" height="16.99"
                                            viewBox="0 0 9.685 16.99">
                                            <g id="prefix__arrow-down-sign-to-navigate"
                                                transform="rotate(-90 -40.075 57.066)">
                                                <path id="prefix__Path_8811"
                                                    d="M8.5 106.825a1.186 1.186 0 01-.841-.348l-7.31-7.305a1.19 1.19 0 011.683-1.683l6.468 6.464 6.464-6.464a1.19 1.19 0 011.682 1.683l-7.305 7.305a1.186 1.186 0 01-.841.348z"
                                                    data-name="Path 8811" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-7 col-12">
                        <div class=" custom-accordian">
                            <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="toggle-1">
                                <ngb-panel id="toggle-1">
                                    <ng-template id="toggle-1" ngbPanelContent>
                                        <form class="form">
                                            <div class="tabindent">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-12 col-sm-12 col-12"
                                                        *ngFor="let card of cardDetails">
                                                        <div
                                                            [class]="card?.status == 'active' ? 'credit-active' : 'credit-inactive'">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row justify-content-between no-gutters">
                                                                        <div class="col-md-6 col-sm-6 col-7">
                                                                            <img src="assets/images/svg/visa.svg"
                                                                                class="img-fluid" />
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-5 text-right">
                                                                            <label class="radio-container">
                                                                                <input type="radio"
                                                                                    (click)=selectCard($event.target.value)
                                                                                    [checked]="card?.status == 'active' ? true : false"
                                                                                    [value]="card?.id" name="radio">
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <label>CARD NUMBER</label>
                                                                    <p class="card-num">{{card.number}}</p>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="row justify-content-between no-gutters">
                                                                        <div class="col-md-5 col-sm-6 col-6">
                                                                            <label>CARD HOLDER</label>
                                                                            <p>{{card.holderName}}</p>
                                                                        </div>
                                                                        <div class="col-md-5 col-sm-6 col-6 text-right">
                                                                            <label>EXPIRY DATE</label>
                                                                            <p>{{card.expiryMonth}}/{{card.expiryYear}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-md-12 text-center">
                                                        <button type="button" class="green-btn">
                                                            <div
                                                                class="d-flex align-items-center justify-content-center">
                                                                <div><i class="pi pi-plus-circle"></i></div>
                                                                <div>Add New Card</div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <form class="add-card">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>Enter Card Details</h3>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Name On Card</label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label>Card Number</label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Expiry Month</label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Expiry Year</label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>CVV</label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="check-container">Save your card for future use
                                                                <input type="checkbox" checked="checked">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <button type="button" class="sq-btn save-card">
                                                                Save Card
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </form>
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel id="toggle-2">
                                    <ng-template ngbPanelContent>
                                        dfgdfgdfgd
                                    </ng-template>
                                </ngb-panel>

                            </ngb-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->




<!-- payment starts here -->
<section class="payment">
    <div class="container-outer">
        <div class="container-inner">
            <div class="row align-items-center heading">
                <div class="col-lg-2 col-md-3 col-sm-4  col-5">
                    <div class="row mb-3 no-gutters align-items-center back-btn justify-content-center"
                        [routerLink]="['/user']" routerLinkActive="router-link-active">
                        <div>
                            <img src="assets/images/svg/back-arrow.svg" class="img-fluid" />
                        </div>
                        <div>
                            <h3>Back</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12 text-center">
                    <h1>Payment Method</h1>
                </div>
            </div>
            <div class="row">
                <div class="card-body">
                    <div class="register-tabs">
                        <ngb-tabset class="navleft" type="pills"
                            [orientation]="'currentOrientation'">
                            <!-- Add credit card service -->
                            <ngb-tab id=1>
                                <ng-template ngbTabTitle>
                                    <div class="row align-items-center justify-content-center no-gutters">
                                        <div class="mr-2 credit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="36.004" height="24.003"
                                                viewBox="0 0 36.004 24.003">
                                                <defs>
                                                    <!-- <style>
                                                        .prefix__cls-1 {
                                                            fill: #fff
                                                        }
                                                    </style> -->
                                                </defs>
                                                <g id="prefix__credit-card_2_" data-name="credit-card(2)"
                                                    transform="translate(0 -85.333)">
                                                    <g id="prefix__Group_25603" data-name="Group 25603"
                                                        transform="translate(0 85.333)">
                                                        <g id="prefix__Group_25602" data-name="Group 25602">
                                                            <path id="prefix__Path_8847"
                                                                d="M32.254 85.333H3.75A3.756 3.756 0 000 89.083v16.5a3.756 3.756 0 003.75 3.75h28.5a3.756 3.756 0 003.75-3.75v-16.5a3.756 3.756 0 00-3.746-3.75zm2.25 20.252a2.253 2.253 0 01-2.25 2.25H3.75a2.253 2.253 0 01-2.25-2.25v-16.5a2.253 2.253 0 012.25-2.25h28.5a2.253 2.253 0 012.25 2.25v16.5z"
                                                                class="prefix__cls-1" data-name="Path 8847"
                                                                transform="translate(0 -85.333)" />
                                                        </g>
                                                    </g>
                                                    <g id="prefix__Group_25605" data-name="Group 25605"
                                                        transform="translate(0 89.834)">
                                                        <g id="prefix__Group_25604" data-name="Group 25604">
                                                            <path id="prefix__Path_8848"
                                                                d="M35.254 149.333H.75a.75.75 0 00-.75.75v4.5a.75.75 0 00.75.75h34.5a.75.75 0 00.75-.75v-4.5a.751.751 0 00-.746-.75zm-.75 4.5H1.5v-3h33v3z"
                                                                class="prefix__cls-1" data-name="Path 8848"
                                                                transform="translate(0 -149.333)" />
                                                        </g>
                                                    </g>
                                                    <g id="prefix__Group_25607" data-name="Group 25607"
                                                        transform="translate(4.501 100.335)">
                                                        <g id="prefix__Group_25606" data-name="Group 25606">
                                                            <path id="prefix__Path_8849"
                                                                d="M73.751 298.667h-9a.75.75 0 100 1.5h9a.75.75 0 100-1.5z"
                                                                class="prefix__cls-1" data-name="Path 8849"
                                                                transform="translate(-64 -298.667)" />
                                                        </g>
                                                    </g>
                                                    <g id="prefix__Group_25609" data-name="Group 25609"
                                                        transform="translate(4.501 103.335)">
                                                        <g id="prefix__Group_25608" data-name="Group 25608">
                                                            <path id="prefix__Path_8850"
                                                                d="M73.751 341.333h-9a.75.75 0 100 1.5h9a.75.75 0 100-1.5z"
                                                                class="prefix__cls-1" data-name="Path 8850"
                                                                transform="translate(-64 -341.333)" />
                                                        </g>
                                                    </g>
                                                    <g id="prefix__Group_25611" data-name="Group 25611"
                                                        transform="translate(25.503 98.835)">
                                                        <g id="prefix__Group_25610" data-name="Group 25610">
                                                            <path id="prefix__Path_8851"
                                                                d="M366.417 277.333h-1.5a2.253 2.253 0 00-2.25 2.25v1.5a2.253 2.253 0 002.25 2.25h1.5a2.253 2.253 0 002.25-2.25v-1.5a2.253 2.253 0 00-2.25-2.25zm.75 3.75a.75.75 0 01-.75.75h-1.5a.75.75 0 01-.75-.75v-1.5a.75.75 0 01.75-.75h1.5a.75.75 0 01.75.75z"
                                                                class="prefix__cls-1" data-name="Path 8851"
                                                                transform="translate(-362.667 -277.333)" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="mr-2">
                                            <h3> Credit Card </h3>
                                        </div>
                                        <div class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9.685" height="16.99"
                                                viewBox="0 0 9.685 16.99">
                                                <g id="prefix__arrow-down-sign-to-navigate"
                                                    transform="rotate(-90 -40.075 57.066)">
                                                    <path id="prefix__Path_8811"
                                                        d="M8.5 106.825a1.186 1.186 0 01-.841-.348l-7.31-7.305a1.19 1.19 0 011.683-1.683l6.468 6.464 6.464-6.464a1.19 1.19 0 011.682 1.683l-7.305 7.305a1.186 1.186 0 01-.841.348z"
                                                        data-name="Path 8811" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <form class="form">
                                        <div class="tabindent">
                                            <div class="row">
                                                <div class="col-md-6" *ngFor="let card of cardDetails">
                                                    <div
                                                        [class]="card?.status == 'active' ? 'credit-active' : 'credit-inactive'">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row justify-content-between no-gutters">
                                                                    <div class="col-md-6 col-sm-6 col-6">
                                                                        <img src="assets/images/svg/visa.svg"
                                                                            class="img-fluid" />
                                                                    </div>
                                                                    <div class="col-md-6  col-sm-6 col-6 text-right">
                                                                        <label class="radio-container">
                                                                            <input type="radio"
                                                                                (click)=selectCard($event.target.value)
                                                                                [checked]="card?.status == 'active' ? true : false"
                                                                                [value]="card?.id" name="radio">
                                                                            <span class="checkmark"></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label>CARD NUMBER</label>
                                                                <p class="card-num">{{card.number}}</p>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="row justify-content-between no-gutters">
                                                                    <div class="col-md-5 col-sm-6 col-6">
                                                                        <label>CARD HOLDER</label>
                                                                        <p>{{card.holderName}}</p>
                                                                    </div>
                                                                    <div class="col-md-5 col-sm-6 col-6 text-right">
                                                                        <label>EXPIRY DATE</label>
                                                                        <p>{{card.expiryMonth}}/{{card.expiryYear}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-12 text-center">
                                                    <button type="button" class="green-btn">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <div><i class="pi pi-plus-circle"></i></div>
                                                            <div>Add New Card</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                            <form class="add-card">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Enter Card Details</h3>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label>Name On Card</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label>Card Number</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Expiry Month</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Expiry Year</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>CVV</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="check-container">Save your card for future use
                                                            <input type="checkbox" checked="checked">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="button" class="sq-btn save-card">
                                                            Save Card
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                            <!-- ewallet service -->
                            <ngb-tab id=2>
                                <ng-template ngbTabTitle>
                                    <div class="row align-items-center justify-content-center no-gutters">
                                        <div class="mr-2 credit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="27.785" height="23.847"
                                                viewBox="0 0 27.785 23.847">
                                                <path
                                                    d="M26.229 10.371h-.661V6.399a2.944 2.944 0 00-2.94-2.94h-.61l.006-1.476A1.984 1.984 0 0020.041 0H2.41A2.412 2.412 0 000 2.376v19.488a1.984 1.984 0 001.983 1.986h20.65a2.944 2.944 0 002.94-2.94v-3.98h.661a1.552 1.552 0 001.55-1.55v-3.459a1.56 1.56 0 00-1.555-1.55zm-23.819-9h17.63a.615.615 0 01.615.61l-.006 1.482H2.41a1.046 1.046 0 010-2.091zm21.79 19.53a1.576 1.576 0 01-1.573 1.573H1.977a.616.616 0 01-.615-.615V4.587a2.4 2.4 0 001.048.239h20.218A1.576 1.576 0 0124.2 6.399v3.972h-4.666a1.552 1.552 0 00-1.55 1.55v3.459a1.552 1.552 0 001.55 1.55H24.2zm2.211-5.522a.18.18 0 01-.182.182h-6.69a.18.18 0 01-.182-.182v-3.458a.184.184 0 01.182-.182h6.69a.184.184 0 01.182.182v3.459z"
                                                    data-name="Path 8852" />
                                            </svg>
                                        </div>
                                        <div class="mr-2">
                                            <h3> E-Wallet </h3>
                                        </div>
                                        <div class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9.685" height="16.99"
                                                viewBox="0 0 9.685 16.99">
                                                <g id="prefix__arrow-down-sign-to-navigate"
                                                    transform="rotate(-90 -40.075 57.066)">
                                                    <path id="prefix__Path_8811"
                                                        d="M8.5 106.825a1.186 1.186 0 01-.841-.348l-7.31-7.305a1.19 1.19 0 011.683-1.683l6.468 6.464 6.464-6.464a1.19 1.19 0 011.682 1.683l-7.305 7.305a1.186 1.186 0 01-.841.348z"
                                                        data-name="Path 8811" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <form class="form">

                                        <div class="tabindent">
                                            sjsxnjsnjnsjn
                                        </div>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>