<footer>
    <div class="container-outer">
        <div class="container-inner">
            <div class="row align-items-center justify-content-between no-gutters">
                <div class="row align-items-center justify-content-between nav-links no-gutters">
                    <div [routerLink]="['']" routerLinkActive="router-link-active" >About iLuud </div>
                    <div [routerLink]="['/extras']" routerLinkActive="router-link-active" >Contact Us</div>
                    <div [routerLink]="['/extras/terms']" routerLinkActive="router-link-active" >Terms & Conditions</div>
                    <div [routerLink]="['/extras/privacy']" routerLinkActive="router-link-active">Privacy Policy</div>
                    <div [routerLink]="['/extras/faq']" routerLinkActive="router-link-active">FAQs</div>
                    <!-- <div>Feedback</div> -->
                </div>
                <div class="row social-links align-items-center justify-content-between nav-links no-gutters">
                    <div><img src="assets/images/svg/facebook.svg" class="ml-3"/></div>
                    <div><img src="assets/images/svg/google.svg"/></div>
                </div>
            </div>
        </div>
    </div>
</footer>