<app-head-search></app-head-search>
<section class="user-name">
    <h1><span>Hello,</span> {{myname}}!</h1>
    <p> Start connecting with iWorkers and get the job done</p>
</section>
<section class="services">
    <div class="container-outer">
        <div class="container-inner text-center">
            <div class="row">
                <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-12" (click)="openScrollableContent(longContent, data)" *ngFor="let data of category">
                    <!-- <div class="card mb-4" [routerLink]="['/service']" routerLinkActive="router-link-active"> -->
                    <div class="card mb-4">
                        <img bind-src="(data.image)?(data?.image):'assets/images/png/Indoor-domestic.png'" class="img-fluid" />
                        <h3>{{data.name}}</h3>
                        <p>{{data.type}}</p>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="card mb-4">
                        <img src="assets/images/png/Outdoor domestic.png" class="img-fluid" />
                        <h3>Outdoor</h3>
                        <p>Domestic</p>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-12">
                    <div class="card mb-4">
                        <img src="assets/images/png/Professional-Services.png" class="img-fluid" />
                        <h3>Professional</h3>
                        <p>Services</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5  col-sm-6 col-12">
                    <div class="card mb-4">
                        <img src="assets/images/png/Trade Services.png" class="img-fluid" />
                        <h3>Trade</h3>
                        <p>Services</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="worker-list">
    <div class="container-outer">
        <div class="container-inner" *ngFor="let data1 of worker">
            <div class="d-flex align-items-center justify-content-between worker-profile">
                <div>
                    <h3 class="mb-0">{{data1.service_category_name}}</h3>
                </div>
                <!-- <div (click)="openScrollableContent(longContent)" class="d-flex align-items-center">
                    <button class="filter-btn"><span>Filter</span>
                        <img src="assets/images/svg/filter.svg" class="img-fluid" /></button>
                </div> -->
            </div>
            <div class="row">
                <div *ngFor="let myworker of data1.data" class=" col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="worker-card text-center">
                        <!-- <img src="assets/images/svg/s-cleaner.svg" class="img-fluid super" /> -->
                        <div class="worker-desc d-flex align-items-center justify-content-center">
                            <div class="worker-img">
                                <!-- <img [src]="worker.image" class="img-fluid" /> -->
                                <img bind-src="(myworker.profile_img)" class="img-fluid" />

                            </div>
                            <div class="text-left">
                                <h5>{{myworker.first_name}} {{myworker.last_name}}</h5>
                                <!-- <h6>{{worker.town}}</h6> -->
                                <!-- <div class="d-flex">
                                    <img src="assets/images/svg/green-star.svg" class="img-fluid green-star" />
                                    <p>{{worker.rating}}<span>({{worker.reviews}} Reviews)</span> </p>
                                </div> -->
                            </div>
                        </div>
                        <a class="read-review" [routerLink]="['/worker/profile']" [queryParams]="{id: myworker.user_id}"
                            routerLinkActive="router-link-active">Read Reviews</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-8 col-12 text-center">
                    <button class="sq-btn">View More IWorkers</button>
                </div>
            </div>
        </div>
    </div>
</section>
<app-howitworks></app-howitworks>



<!-- Filter modal -->
<ng-template #longContent let-modal>
    <div class="modal-body">
        <button type="button" class="btn close" (click)="modal.close('Close click')">
            <img src="assets/images/svg/cancel.svg" class="img-fluid" />
        </button>
        <form [formGroup]="searchForm" (ngSubmit)= "search()">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Filters</h3>
            </div>
            <div class="col-md-12">
                <label>Category</label>
                <select formControlName="category">
                    <option>{{popupdata.name}}</option>
                </select>
            </div>
            <div class="col-md-12">
                <label>Sub Category</label>
                <select formControlName="subCategory">
                    <option *ngFor="let super of subcategory" [value]= "super.id">{{super.name}}</option>
                </select>
            </div>
            <div class="col-md-12">
                <label>Service</label>
                <ng-multiselect-dropdown 
                     formControlName="services"
                     [placeholder]="'please select service'" 
                     [data]="servicelist"
                     [settings]="dropdownSettings" 
                     (onSelect)="onItemSelect($event)"
                     (onSelectAll)="onSelectAll($event)"
                     [disabled]= "disabled">

                </ng-multiselect-dropdown>
                <!-- <select>
                    <option [value]= "service.id">{{service.service_name}}</option>
                </select> -->
            </div>


            <div class="col-md-12">
                <label>Hourly Rate</label>
                <!-- <select>
                    <option>Hourly</option>
                </select> -->
            </div>
            <div class="col-md-12 text-right range">
                <h6>R {{val}}</h6>
                <p-slider [(ngModel)]="val" formControlName="hourRate" [style]="{'width':'100%'}" [min]="0" [max]="100" (onChange)="handleChange($event)"></p-slider>
            </div>
            <div class="col-md-12">
                <label>Fixed Rate</label>
                <!-- <select>
                    <option>Hourly</option>
                </select> -->
            </div>
            <div class="col-md-12 text-right range">
                <!-- <h6>R {{rangeValues1[0] + ' - ' + rangeValues1[1]}}</h6> -->
                <h6>R {{rangeValues1}}</h6>
                <p-slider [(ngModel)]="rangeValues1" formControlName="fixedRate" [style]="{'width':'100%'}" [min]="0" [max]="100"></p-slider>
            </div>

    


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label>Booking Date</label>
                            <div class="form-group">
                              <div class="input-group book-d">
                                <input class="form-control" formControlName="bookingDate"
                                       name="dp" ngbDatepicker #d="ngbDatepicker" placeholder="yyyy/mm/dd">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                              </div>
                            </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <label>Booking Date</label>
                        <div class="form-group">
                            <div class="input-group book-d">
                              <input class="form-control"
                                     name="dp1"  ngbDatepicker #d1="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                              </div>
                            </div>

                    </div>
                    </div> -->
                </div>
            </div>

            <div class=" col-md-12 mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <label>Start Time</label>
                                <ngb-timepicker [(ngModel)]="time" [meridian]="meridian" formControlName="startTime"></ngb-timepicker>
                    </div>

                    <div class="col-md-6">
                    <label>End Time</label>
                        
                            <ngb-timepicker [(ngModel)]="time1" [meridian]="meridian1" formControlName="endTime"></ngb-timepicker>
                    
                    </div>
                </div>
            </div>




            <div class="col-md-12">
                <label>IWorker Category</label>
                <select formControlName="iworkerCategory">
                    <option>Super Cleaner</option>
                </select>
            </div>
            <div class="col-md-12 mb-4">
                <label>Sorting</label>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="radiobox-container">Price (High to Low)
                            <input type="radio" name="sorting" formControlName="sorting" value="0">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="radiobox-container">Price (Low to High)
                            <input type="radio"  name="sorting" formControlName="sorting" value="1">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="radiobox-container">Rating
                            <input type="radio"  name="sorting" formControlName="sorting" value="2">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <button class="cancel-btn w-100 mb-3" (click)="modal.close('Close click')">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="green-btn w-100 mb-3">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</ng-template>