@import '~ngx-toastr/toastr';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ILuud-primary: mat-palette($mat-indigo);
$ILuud-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ILuud-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ILuud-theme: mat-light-theme($ILuud-primary, $ILuud-accent, $ILuud-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ILuud-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ILuud-primary: mat-palette($mat-indigo);
$ILuud-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ILuud-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ILuud-theme: mat-light-theme($ILuud-primary, $ILuud-accent, $ILuud-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ILuud-theme);

// @import "~ngx-toastr/toastr";


/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "abeatbyKai";
  src: url(/assets/font/abeatbyKaiRegular.woff);
}

@font-face {
  font-family: "AvenirLTStd-Book";
  src: url(/assets/font/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url(/assets/font/AvenirLTStd-Medium.otf);
}
  
@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url(/assets/font/AvenirLTStd-Heavy.otf);
}

button:focus {
  outline: none;         
}

body {
  font-family: "AvenirLTStd-Book" !important;
}

// Color Variables
$white-color: #ffffff;
$black-color: #000000;
$primary-color: #34c3bd;
$para-color: #989898;
$orange-color: #f9c957;
$place-color: #d2d2d2;

.primary-color {
  color: $primary-color;
}

// Font Variables
$alight: "AvenirLTStd-Book";
$amedium: "AvenirLTStd-Medium";
$abold: "AvenirLTStd-Heavy";

// custom scroll bar

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 24px;
  height: 20px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid $primary-color;
  border-radius: 24px;
}

//text-decoration
.text-dec {
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

// Containers
.container-outer {
  max-width: 1440px;
  margin: 0 auto;
}

.container-inner {
  padding: 0 135px;
}

.pointer {
  cursor: pointer;
}

@mixin green-btns {
  border-radius: 25px;
  background-color: $primary-color;
  font-size: 15px;
  font-family: $amedium;
  border: 0;
  padding: 11px 19px;
  letter-spacing: 0.28px;
  text-align: center;
  // line-height: 0;
  color: $white-color;

  &:focus {
    outline: none;
    border: 0;
  }
}

.green-btn {
  @include green-btns();
}

@mixin sq-btns {
  border-radius: 25px;
  background-color: #34c3bd;
  font-family: $amedium;
  font-size: 15px;
  font-weight: 900;
  padding: 11px 55px;
  border: 0;
  letter-spacing: 0.28px;
  text-align: center;
  color: $white-color;

  &:focus {
    outline: none;
  }
}

.sq-btn {
  @include sq-btns();
}

@mixin cancel-btns {
  border-radius: 25px;
  background-color: $white-color;
  font-family: $alight;
  font-size: 15px;
  font-weight: 900;
  padding: 11px 55px;
  border: 1px solid $black-color;
  letter-spacing: 0.28px;
  text-align: center;
  color: $black-color;

  &:focus {
    outline: none;
  }
}

.cancel-btn {
  @include cancel-btns();
}

@mixin extra-btns {
  border-radius: 25px;
  background-color: $white-color;
  font-family: $alight;
  font-size: 15px;
  font-weight: 900;
  padding: 11px 55px;
  border: 1px solid $primary-color;
  letter-spacing: 0.28px;
  text-align: center;
  color: $primary-color;

  &:focus {
    outline: none;
  }
}

.extra-btn {
  @include extra-btns();
}

// form fields
label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #2c2c2c;
  margin-bottom: 10px;
  font-family: $abold;
}

input {
  border-radius: 15px;
  border: solid 1px $place-color;
  background-color: $white-color;
  padding: 11px 25px;
  width: 100%;
  display: block;
  font-size: 15px;
  font-family: "AvenirLTStd-Book";
  color: #2c2c2c;
  margin-bottom: 28px;

  &:focus {
    border: 1px solid $primary-color;
    outline: none;
    background-color: $white-color;
  }

  &::placeholder {
    color: #cecece;
  }
}

textarea {
  border-radius: 15px;
  border: solid 1px $place-color;
  background-color: $white-color;
  padding: 11px 25px;
  width: 100%;
  display: block;
  font-size: 15px;
  font-family: "AvenirLTStd-Book";
  color: #2c2c2c;
  margin-bottom: 28px;
  height: 100px;

  &:focus {
    border: 1px solid $primary-color;
    outline: none;
    background-color: $white-color;
  }

  &::placeholder {
    color: #cecece;
  }
}

select {
  border-radius: 15px;
  border: solid 1px $place-color;
  background-color: $white-color;
  padding: 14px 25px;
  width: 100%;
  display: block;
  font-size: 15px;
  font-family: "AvenirLTStd-Book";
  color: #2c2c2c;
  margin-bottom: 28px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/assets/images/svg/select.svg) no-repeat right 50% !important;
  -webkit-appearance: none;
  background-position-x: calc(100% - 30px) !important;
  background-size: 14px 14px !important;

  &:focus {
    border: 1px solid $primary-color;
    outline: none;
    background-color: $white-color;
  }
}

.multiselect-dropdown {
  border-radius: 15px;
  border: solid 1px $place-color;
  background-color: $white-color;
  padding: 11px 25px;
  width: 100%;
  display: block;
  font-size: 15px;
  font-family: "AvenirLTStd-Book";
  color: #2c2c2c;
  margin-bottom: 28px;

  input {
    margin-bottom: 0 !important;
  }

  input[type="checkbox"]:checked+div:before {
    background: $primary-color !important;
  }

  div {
    &::before {
      color: $primary-color !important;
      border: 2px solid $primary-color !important;
    }
  }

  .dropdown-list {
    left: 0;
  }

  .dropdown-btn {
    border: 0 !important;
    padding: 0 !important;

    &:focus {
      outline: none !important;
    }

    .selected-item {
      border: 1px solid $primary-color !important;
      margin-right: 4px;
      background: $primary-color !important;
      padding: 0 15px !important;
      color: $white-color;
      border-radius: 13px !important;
      margin-bottom: 2px;

      &:hover {
        box-shadow: none !important;
      }
    }
  }

  &:focus {
    border: 1px solid $primary-color;
    outline: none;
    background-color: $white-color;
  }

  &::placeholder {
    color: #cecece;
  }
}

.m-23 {
  margin-right: 23px;
}

.ui-sidebar {
  background-color: #ffffff;
  color: #333333;
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: auto !important;
  padding: 10px 10px 30px 30px !important;
}

.ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: 0 !important;
}

//multiselect drop down

.multiselect-dropdown {
  .dropdown-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/images/svg/select.svg) no-repeat right 50% !important;
    -webkit-appearance: none;
    background-position-x: calc(100% - 10px) !important;
    background-size: 14px 14px !important;

    .dropdown-down {
      border: 0px !important;
    }

    .dropdown-up {
      border: 0px !important;
    }
  }
}

.time-carousel {
  .ui-carousel-dots-container {
    display: none;
  }

  .ui-carousel-prev {
    &:hover {
      color: $white-color !important;
      background-color: $primary-color !important;
    }

    &:focus {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    }
  }

  .ui-carousel-next {
    &:hover {
      color: $white-color !important;
      background-color: $primary-color !important;
    }

    &:focus {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    }
  }
}

// back button
.back-btn {
  margin: 42px 0;
  background: #e9e9e9;
  padding: 14px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  img {
    width: 10px;
    height: auto;
    margin-right: 10px;
  }

  h3 {
    color: $black-color;
    font-family: $amedium !important;
    font-size: 16px !important;
    margin-bottom: 0;
    line-height: inherit;
  }
}

// calendar
.calender {
  margin-bottom: 0px;

  .ui-calendar {
    width: 100%;
  }

  .ui-datepicker {
    border: 0;
  }

  .ui-datepicker .ui-datepicker-month {
    font-size: 20px;
    font-weight: 500;
    font-family: "AvenirLTStd-Book";
    text-transform: uppercase;
    letter-spacing: 0.38px;
    color: #1c1c1e;
  }

  .ui-datepicker-year {
    font-size: 20px;
    font-weight: 500;
    font-family: "AvenirLTStd-Book";
    letter-spacing: 0.38px;
    color: #1c1c1e;
  }

  .ui-datepicker table td>a.ui-state-active {
    color: $primary-color !important;
    background-color: $white-color !important;
    border: 1px solid $primary-color !important;
  }

  .ui-datepicker-calendar {
    span {
      text-transform: uppercase;
      letter-spacing: 0.38px;
      font-size: 18px;
      font-weight: 400;
      font-family: "AvenirLTStd-Book";
    }

    a {
      text-transform: uppercase;
      letter-spacing: 0.38px;
      font-size: 18px;
      font-weight: 400;
      font-family: "AvenirLTStd-Book";
    }
  }

  .ui-datepicker table td>a:focus {
    box-shadow: none !important;
  }

  .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:hover {
    color: $primary-color;
  }

  .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:focus {
    box-shadow: none;
  }

  .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:focus {
    box-shadow: none;
  }

  .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:hover {
    color: $primary-color;
  }

  .ui-datepicker table td.ui-datepicker-today>a {
    background-color: $white-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

// Time carousel
.time-carousel {
  .ui-carousel .ui-carousel-content .ui-carousel-prev {
    border: 0 !important;
  }

  .ui-carousel .ui-carousel-content .ui-carousel-next {
    border: 0 !important;
  }
}

// Reschedule calendar
.res {
  .calender {
    input {
      border-radius: 15px;
      border: solid 1px $place-color;
      background-color: $white-color;
      padding: 14px 25px;
      width: 90%;
      display: block;
      font-size: 15px;
      font-family: "AvenirLTStd-Book";
      color: #2c2c2c;

      // margin-bottom: 28px;
      &:hover {
        border: solid 1px $place-color !important;
      }

      &:focus {
        border: 1px solid $primary-color;
        outline: none;
        background-color: $white-color;
        box-shadow: 0;
      }

      &::placeholder {
        color: #cecece;
      }
    }

    button {
      position: absolute;
      padding: 22px;
      top: 0;
      right: 0;
      background-color: $primary-color;
      border: 1px solid $place-color;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;

      &:hover {
        background-color: $primary-color !important;
        border: 1px solid $place-color !important;
        border-left: 0;
      }

      .pi {
        &.pi-calendar {
          // color: $black-color;
          font-size: 30px;
        }
      }
    }
  }

  .timepicker {
    .ngb-tp-input {
      margin: 0 !important;
      padding: 13px 0;
      height: auto !important;
      border-radius: 15px;

      &:focus {
        border: 1px solid $primary-color;
        box-shadow: none;
      }
    }
  }
}

.btn-link {
  &:focus {
    text-decoration: none;
  }
}

// location tabset
.add-location {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;

  .nav-tabs {
    border-bottom: 0;
    justify-content: space-between !important;

    .nav-item {
      margin-bottom: 60px;
    }

    .nav-link {
      border-radius: 29px;
      border: solid 1px #707070;
      padding: 31px 20px;

      svg {
        width: 30px;
        margin-right: 27px;
      }

      .pin {
        svg {
          width: 20px;
        }
      }

      h5 {
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 0.4px;
        margin-bottom: 13px;
        color: $black-color;
      }

      h6 {
        font-size: 15px;
        letter-spacing: 0.4px;
        margin-bottom: 0;
        color: $black-color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 200px;
      }

      &.active {
        color: $white-color;
        background-color: $primary-color;
        border: 0;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 12px;
          right: 20px;
          width: 38px;
          height: 38px;
          background: url(/assets/images/svg/confirm.svg);
          background-repeat: no-repeat;
        }

        h5 {
          color: $white-color;
        }

        h6 {
          color: $white-color;
        }

        svg {
          fill: $white-color;
        }
      }
    }
  }
}

// Custom Checkboxes
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  color: #aaaaaa;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.check-container .checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-container:hover input~.checkmark {
  background-color: #ccc;
  border-radius: 6px;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
  background-color: $primary-color;
  border-radius: 6px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

// Or line css
.or {
  p {
    position: relative;
    margin-bottom: 50px;
    color: #cecece;

    &::before {
      content: "";
      width: 47%;
      height: 1px;
      background-color: #cecece;
      position: absolute;
      top: 13px;
      left: 0;
    }

    &::after {
      content: "";
      width: 47%;
      height: 1px;
      background-color: #cecece;
      position: absolute;
      top: 13px;
      right: 0;
    }
  }
}

.modal-content {
  border-radius: 40px;

  .close {
    position: relative;
    top: -35px;
    right: -22px;
    background: none;
    text-shadow: none;
    opacity: 1;
    outline: none;

    &:focus {
      box-shadow: none;
    }

    img {
      width: 25px;
      height: auto;
    }
  }

  .modal-body {
    padding: 50px 40px;
  }
}

// Login modal
.login-modal {
  .modal-content {
    .modal-body {
      h3 {
        font-size: 25px;
        font-weight: 500;
        color: #2c2c2c;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        color: #858585;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 30px;

        &.forgot {
          font-size: 13px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      a {
        font-size: 16px;
        font-weight: 900;
        color: $primary-color;
        font-family: "AvenirLTStd-Book";

        &:hover {
          color: $primary-color;
        }
      }

      .facebook {
        margin-bottom: 20px;

        img {
          width: 13.8px;
          height: 29.9px;
          margin-right: 40px;
        }

        button {
          border: 0;
          border-radius: 29px;
          background-color: #3b5998;
          padding: 11px 19px;
          color: $white-color;
        }
      }

      .google {
        img {
          width: 24.3px;
          height: 29.3px;
          margin-right: 50px;
        }

        button {
          border: 0;
          border-radius: 29px;
          background-color: $black-color;
          padding: 11px 19px;
          color: $white-color;
        }
      }
    }
  }
}

// signUp modal
.signup-modal {
  .modal-content {
    .modal-body {
      .profile {
        position: relative;

        img {
          border-radius: 50%;
          border: 3px solid $orange-color;

          &.cam {
            position: absolute;
            bottom: 0;
            width: 35px;
            right: 20px;
            border: 0;
          }
        }
      }

      h3 {
        font-size: 25px;
        font-weight: 500;
        color: #2c2c2c;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        color: #858585;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 30px;
      }

      a {
        font-size: 16px;
        font-weight: 900;
        color: $primary-color;
        font-family: "AvenirLTStd-Book";

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// forgot password modal
.forgetpasswd-modal {
  .close {
    position: relative;
    top: -35px;
    right: -22px;
    background: none;
    text-shadow: none;
    opacity: 1;
    outline: none;

    &:focus {
      box-shadow: none;
    }

    img {
      width: 25px;
      height: auto;
    }
  }

  .modal-content {
    border-radius: 40px;

    .modal-body {
      padding: 50px 40px;

      img {
        &.logo {
          width: 115px;
          height: auto;
          margin-bottom: 20px;
        }
      }

      h3 {
        font-size: 25px;
        font-weight: 900;
        line-height: 1.37;
        letter-spacing: 0.6px;
        color: #2c2c2c;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        color: #858585;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 30px;
      }

      a {
        font-size: 16px;
        font-weight: 900;
        color: $primary-color;
        font-family: "AvenirLTStd-Book";

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// confirm password modal
.confirmpasswd-modal {
  .modal-content {
    .modal-body {
      img {
        &.logo {
          width: 115px;
          height: auto;
          margin-bottom: 20px;
        }
      }

      h3 {
        font-size: 25px;
        font-weight: 900;
        line-height: 1.37;
        letter-spacing: 0.6px;
        color: #2c2c2c;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        color: #858585;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 30px;
      }

      a {
        font-size: 16px;
        font-weight: 900;
        color: $primary-color;
        font-family: "AvenirLTStd-Book";

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// confirm password modal
.accountverify-modal {
  .modal-content {
    .modal-body {
      img {
        &.logo {
          width: 115px;
          height: auto;
          margin-bottom: 20px;
        }
      }

      input {
        margin-bottom: 3px;
        padding: 11px 19px;
      }

      h3 {
        font-size: 25px;
        font-weight: 900;
        line-height: 1.37;
        letter-spacing: 0.6px;
        color: #2c2c2c;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 12px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        color: #858585;
        font-family: "AvenirLTStd-Book";
        margin-bottom: 30px;
      }

      a {
        font-size: 14px;
        font-weight: 900;
        color: $primary-color;
        font-family: "AvenirLTStd-Book";

        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }

        &.time {
          &:hover {
            color: $primary-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// filters modal

.filter-modal {
  ::-webkit-scrollbar {
    display: none !important;
  }

  .modal-content {
    .modal-body {
      .ui-slider {
        .ui-slider-range {
          background-color: $primary-color !important;
        }

        .ui-slider-handle {
          border: 1px solid #666666;
        }
      }

      .range {
        margin-bottom: 40px;

        h6 {
          color: $primary-color;
          font-family: $abold;
          font-weight: 900;
          font-size: 14px;
        }
      }

      // calendar
      .calender {

        // position: relative;
        // .fa-calendar {
        //   position: absolute;
        //   right: 0;
        //   top: 0;
        // }
        input {
          border-radius: 15px;
          border: solid 1px $place-color;
          background-color: $white-color;
          padding: 14px 25px;
          width: 100%;
          display: block;
          font-size: 15px;
          font-family: "AvenirLTStd-Book";
          color: #2c2c2c;

          &.date {
            padding: 11px 5px !important;
            -webkit-appearance: none !important;
            appearance: none !important;

            &:hover {
              -webkit-appearance: none;
              appearance: none;
            }

            &:focus {
              -webkit-appearance: none !important;
              appearance: none !important;
            }
          }

          // margin-bottom: 28px;
          &:hover {
            border: solid 1px $place-color !important;
          }

          &:focus {
            border: 1px solid $primary-color;
            outline: none;
            background-color: $white-color;
            box-shadow: 0;
          }

          &::placeholder {
            color: #cecece;
          }
        }

        button {
          position: absolute;
          padding: 22px;
          top: 0;
          right: 0;
          background-color: $primary-color;
          border: 1px solid $place-color;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;

          &:hover {
            background-color: $primary-color !important;
            border: 1px solid $place-color !important;
            border-left: 0;
          }

          .pi {
            &.pi-calendar {
              // color: $black-color;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

// Add more time modal
.add-modal {
  .modal-dialog {
    max-width: 415px;
  }

  .modal-content {
    .close {
      position: relative;
      top: -32px;
      right: -20px;
    }
  }

  .modal-body {
    padding: 50px 40px;

    .counter {
      cursor: pointer;
      width: 45px;
      height: 45px;
    }

    h3 {
      font-size: 30px;
      font-weight: 500;
      font-family: $amedium;
      margin-bottom: 22px;
    }

    p {
      font-size: 20px;
    }
  }

  input {
    border: 0 !important;
    margin-bottom: 0 !important;
    padding: 0;
    text-align: center !important;
    font-size: 20px;
    font-family: $amedium;
  }

  select {
    margin-bottom: 0;
  }
}

// Payment method select tabs

// Congratulations Modal
.congrats-modal {
  .com-img {
    max-width: 90px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 25px;
    font-family: $amedium;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    font-family: $alight;
  }
}

// Payment method select tabs
.payment {
  .register-tabs {
    .nav-pills {
      width: 200px;
      float: left;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      .nav-link {
        color: #333333;
        padding: 20px;
        text-align: center;
        border-radius: 0;

        h3 {
          font-size: 18px;
          font-family: $amedium;
          line-height: 0;
          margin-bottom: 0px;
          color: $black-color;
        }

        .arrow {
          svg {
            fill: $black-color;
          }
        }

        .credit {
          svg {
            fill: $black-color;
          }
        }

        &.active {
          h3 {
            font-size: 18px;
            font-family: $amedium;
            line-height: 0;
            margin-bottom: 0px;
            color: $white-color;
          }

          .arrow {
            svg {
              fill: $white-color;
            }
          }

          .credit {
            svg {
              fill: $white-color;
            }
          }
        }
      }
    }

    .tab-content {
      width: calc(100% - 320px);
      float: right;
    }
  }

  .register-tabs .nav-pills .nav-link.active,
  .register-tabs .nav-pills .show>.nav-link {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .rform-icons {
    border: 1px solid $primary-color;
    border-radius: 100%;
    width: 50px;
    line-height: 50px !important;
    text-align: center;
    color: $primary-color;
  }

  // custom radio checks for credit cards

  /* The radio-container */
  .radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;
  }

  /* Create a custom radio button */
  .radio-container .checkmark {
    position: absolute;
    top: 11px;
    left: 75%;
    height: 38px;
    width: 38px;
    background-color: $white-color;
    border-radius: 50%;
    border: 1px solid #707070;
  }

  /* On mouse-over, add a grey background color */
  .radio-container:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .radio-container input:checked~.checkmark {
    background-color: $primary-color;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked~.checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
    left: 13px;
    top: 5px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}


// Feedback screen Rating
.feedback {
  .ui-rating:not(.ui-state-disabled):not(.ui-rating-readonly) a:hover {
    color: $primary-color !important;
  }

  .ui-rating:not(.ui-state-disabled):not(.ui-rating-readonly) a:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

  .ui-rating {
    margin-bottom: 30px;

    .ui-rating-icon {
      font-size: 60px !important;
    }

    a {
      color: $primary-color;

      &:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
      }
    }
  }
}

// Bookings

.bookings {
  .nav-pills {
    margin-bottom: 40px !important;
  }

  .nav-pills .nav-link {
    color: $black-color;
    font-family: $amedium;
    border-radius: 0;
    padding: 5px 5px;
    margin-bottom: 20px;
    margin-right: 40px;
    font-size: 20px;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: $primary-color;
    background-color: $white-color;
    font-family: $amedium;
    border-bottom: 1px solid $primary-color;
    border-radius: 0;
    padding: 5px 5px;
  }
}

//user favorite start

.fav-folder {
  .btn:hover {
    text-decoration: none !important;
  }

  .btn:hover {
    text-decoration: none !important;
  }

  .card {
    background: transparent;
    border: none;

    .card-header {
      background: transparent;
      border-bottom: 0px;
    }
  }

  .range-accordion {
    .btn[aria-expanded="false"] {

      // span.fa-angle-down{
      //   display: none;
      // }
      span:before {
        // font-family: "Font Awesome 5 Free";
        content: "\f107";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        font-size: 28px;
        padding-left: 15px;
        color: #34c3bd;
      }
    }

    .btn[aria-expanded="true"] {
      span:after {
        content: "\f106";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        font-size: 28px;
        padding-left: 15px;
        color: #34c3bd;
      }
    }
  }
}


//faq 
.faq {
  min-height: calc(100vh - 150px);

  .tab-rad {
    border-radius: 13px !important;
  }

  .accordion .card {
    border-radius: 13px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: transparent;
    margin-bottom: 30px;
    outline: none;
    border: none;

    .btn-link:hover {
      text-decoration: none;
    }

    .card-header {
      background: transparent;
      display: grid;
      text-align: center;
      border-bottom: 0px solid rgba(0, 0, 0, .125);

      .faq-title {
        background: transparent;
        font-family: $abold;
        font-size: 19px;
        text-align: left;
        text-decoration: none;
        color: $black-color;
        // padding-top:5px;

        &:hover {
          text-decoration: none;
        }
      }

      .btn[aria-expanded=false] span:before {
        content: "\f107";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        font-size: 28px;
        padding-left: 15px;
        color: #000000;
      }

      .btn[aria-expanded=true] span:after {
        content: "\f106";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        font-size: 28px;
        padding-left: 15px;
        color: #000000;
      }
    }

    .card-body {
      font-family: $alight;
      font-size: 14px;
      line-height: 1.57;
      text-align: left;
      color: #8b8b8b;
      padding-top: 0px;

      div {
        padding-top: 18px;
        border-top: 1px solid rgba(0, 0, 0, .125);
      }
    }
  }
}



// fav folder
.fav-folder {
  .nav {
    &.nav-pills {
      &.justify-content-start {
        justify-content: space-between !important;
      }

      margin-bottom: 60px;

      .nav-item {
        .nav-link {
          padding: 10px 40px;
          background-color: $white-color;
          border: 1px solid $para-color;
          color: $black-color;
          border-radius: 25px;
          font-size: 16px;
          font-family: $amedium;
          margin-bottom: 15px;

          &.active {
            background-color: $primary-color;
            border: 1px solid $primary-color;
            color: $white-color;
          }
        }
      }
    }
  }
}

//fav model
#content .modal-body {
  padding: 30px 50px !important;
}

// custom radio button through out the web

/* The container */
.radiobox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  font-family: $alight;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiobox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $white-color;
  border: 1px solid $para-color;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobox-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiobox-container input:checked~.checkmark {
  background-color: $white-color;
  border: 1px solid $para-color;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobox-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #34c3bd;
}

//ngb date 
  .input-group.book-d{
  .custom-select{
    background-position-x: calc(100% - 15px) !important;
  }
  button.calendar, button.calendar:active {
  width: 2.75rem;
  background: url(/assets/images/svg/select.svg) no-repeat right 50% !important;
      -webkit-appearance: none;
      background-position-x: calc(100% - 15px) !important;
      background-size: 14px 14px !important;
      border-color: #c2c3c3 !important;
  } }

//responsive code ---------------------------------------------------------------------------------------------- //

@media (max-width: 1100px) {
  .payment {
    .register-tabs {
      .nav-pills {
        width: 150px;
        float: left;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

        .nav-link {
          color: #333333;
          padding: 10px;
          text-align: center;
          border-radius: 0;

          h3 {
            font-size: 14px;
            font-family: $amedium;
            line-height: 0;
            margin-bottom: 0px;
            color: $black-color;
          }

          .arrow {
            svg {
              fill: $black-color;
              width: 10px;
            }
          }

          .credit {
            svg {
              fill: $black-color;
              width: 23px;
            }
          }

          &.active {
            h3 {
              font-size: 14px;
              font-family: $amedium;
              line-height: 0;
              margin-bottom: 0px;
              color: $white-color;
            }

            .arrow {
              svg {
                fill: $white-color;
                width: 10px;
              }
            }

            .credit {
              svg {
                fill: $white-color;
                width: 23px;
              }
            }
          }
        }
      }

      .tab-content {
        width: calc(100% - 180px);
        float: right;
      }
    }
  }
}

@media (max-width: 1000px) {
  .payment {
    .register-tabs {
      .nav-pills {
        width: 200px;
        float: left;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 50px;

        .nav-link {
          color: #333333;
          padding: 10px;
          text-align: center;
          border-radius: 0;

          h3 {
            font-size: 14px;
            font-family: $amedium;
            line-height: 0;
            margin-bottom: 0px;
            color: $black-color;
          }

          .arrow {
            svg {
              fill: $black-color;
              width: 10px;
            }
          }

          .credit {
            svg {
              fill: $black-color;
              width: 23px;
            }
          }

          &.active {
            h3 {
              font-size: 14px;
              font-family: $amedium;
              line-height: 0;
              margin-bottom: 0px;
              color: $white-color;
            }

            .arrow {
              svg {
                fill: $white-color;
                width: 10px;
              }
            }

            .credit {
              svg {
                fill: $white-color;
                width: 23px;
              }
            }
          }
        }
      }

      .tab-content {
        width: 100%;
        float: right;
      }
    }
  }
}

@media (max-width: 992px) {
  .payment {
    .register-tabs {
      .nav-pills {
        margin-bottom: 40px;
      }
    }
  }

  .bookings {
    .nav-pills {
      margin: 30px 0 !important;
    }
  }

  .fav-folder {
    .nav.nav-pills {
      margin-bottom: 80px;
    }
  }

  h1 {
    font-size: 35px !important;
  }

  h2 {
    font-size: 28px !important;
  }

  .services {
    h1 {
      padding: 75px 0 25px;
    }
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  p {
    font-size: 15.5px !important;
  }

  .add-location {
    .nav-tabs {
      .nav-item {
        margin-bottom: 40px;
      }

      .nav-link svg {
        width: 30px;
        margin-right: 15px;
      }
    }
  }

  .dis-none {
    display: none;
  }
}

@media(max-width:992px) and (min-width:650px) {
  .ui-calendar.ui-calendar-w-btn {
    .ui-datepicker-trigger.ui-button {
      width: 5.0em !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

@media (max-width: 850px) {
  .add-location {
    .nav-tabs {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .fav-folder {
    .nav.nav-pills {
      margin-bottom: 70px;
    }
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  p {
    font-size: 15.5px !important;
  }

  .container-inner {
    padding: 0 60px;
  }

  .add-location {
    .nav-tabs {
      .nav-item {
        margin-bottom: 30px;
      }
    }
  }

  .green-btn {
    font-size: 12px;
  }

  .sq-btn {
    font-size: 12px;
    padding: 11px 40px;
  }

  .cancel-btn {
    font-size: 12px;
    padding: 11px 40px;
  }

  .up-down-icon {
    .card-header {
      padding: 5px 0px !important;
    }
  }

  .up-down-icon {
    .card-header {
      padding: 5px 0px !important;
    }
  }
}

@media(max-width:568px) {
  .feedback{ 
    .ui-rating {
      margin-bottom: 15px;
  .ui-rating-icon {
    font-size: 30px !important;
  } } }

  .faq {
    .card {
      .card-header {
        .faq-title {
          font-size: 16px !important;
        }
      }
    }
  }
  .payment {
    .register-tabs {
      .nav-pills {
        margin-bottom: 30px;
      }
    }
  }

  .bookings {
    .nav-pills {
      margin: 20px 0 !important;

      .nav-link {
        color: #000000;
        font-family: $amedium;
        border-radius: 0;
        padding: 5px 5px;
        margin-bottom: 15px;
        margin-right: 10px !important;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 500px) {
  .container-inner {
    padding: 0 50px;
    max-width: calc(100% - 35px);
    margin: 0 auto;
  }

  .services {
    h1 {
      padding: 50px 0 20px;
    }
  }

  .add-location .nav-tabs {
    border-bottom: 0;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    display: block;
  }
  .fav-folder {
    .nav.nav-pills {
      margin-bottom: 40px;
    }
  }

  h1 {
    font-size: 25px !important;
  }

  h2 {
    font-size: 21px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  .container-inner {
    padding: 0 50px;
  }

  .services {
    h1 {
      padding: 50px 0 20px;
    }
  }

  .calender {
    .ui-datepicker-calendar {
      span {
        font-size: 12px !important;
        font-weight: 500;
      }

      a {
        text-transform: uppercase;
        letter-spacing: 0.38px;
        font-size: 12px !important;
        font-weight: 500;
        padding: 2px !important;
      }
    }
  }

  .ui-datepicker {
    table {
      td>span {
        display: block;
        text-align: center;
        color: #333333;
        padding: 2px !important;
      }
    }
  }
}

@media (max-width: 420px) {
  .fav-folder {
    .nav.nav-pills {
      margin-bottom: 20px;

      .nav-item {
        .nav-link {
          padding: 10px 30px;
          font-size: 14px;
        }
      }
    }

    .search {
      padding-bottom: 20px;
    }
  }

  .container-inner {
    padding: 0 15px;
  }

  h1 {
    font-size: 22px !important;
  }

  .services {
    h1 {
      padding: 50px 0 20px;
    }
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
