<section class="faq">
    <div class="container-outer">
        <div class="container-inner">
            <div class="row align-items-center heading">
                <div class="col-lg-2 col-md-3 col-sm-4  col-5">
                    <div class="row mb-3 no-gutters align-items-center back-btn justify-content-center"
                        [routerLink]="['/user']" routerLinkActive="router-link-active">
                        <div>
                            <img src="assets/images/svg/back-arrow.svg" class="img-fluid" />
                        </div>
                        <div>
                            <h3>Back</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-12 text-center">
                    <h1>Frequently Ask Question</h1>
                </div>
            </div>
            <ngb-accordion [closeOthers]="true" activeIds="static-1" *ngFor="let data of list">
                <ngb-panel id="static-1" class="mb-4 tab-rad">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between text-dec">
                            <div class="d-flex faq-title">{{data?.question}} </div>
                            <div class="d-flex">
                                <span class="ml-auto">

                                </span>
                            </div>
                        </div>
                    
                    </ng-template>
                 
                    <ng-template ngbPanelContent>
                        <!-- <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</div> -->
                        <div>{{data?.answer}}</div>
                    </ng-template>
                </ngb-panel>
                <!-- <ngb-panel id="static-2" class="mb-4">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex ">
                            <div class=" faq-title">Click
                                to read more Reviews</div>
                                    <span class="ml-auto">
                                    </span>
                          </div>
                
                    </ng-template>
                 
                    <ng-template ngbPanelContent>
                        <div>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                        3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                        anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus
                        labore sustainable VHS.
                    </div>
                    </ng-template>
                </ngb-panel> -->
                <!-- <ngb-panel id="static-3">
                    <ng-template ngbPanelTitle>
                        <div class="d-flex justify-content-between text-dec">
                            <div class="d-flex faq-title">Click
                                to read more Reviews</div>
                            <div class="d-flex">
                                <span class="ml-auto">

                                </span>
                            </div>
                        </div>
                    
                    </ng-template>
                    <hr>
                    <ng-template ngbPanelContent>
                        <div>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                        3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                        anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus
                        labore sustainable VHS.
                    </div>
                    </ng-template>
                </ngb-panel> -->
            </ngb-accordion>

        </div>
    </div>
</section>