<section class="howitworks text-center">
    <div class="container-outer">
        <div class="container-inner">
            <h1>- How it works -</h1>
            <p>Book a iWorker in 4 easy steps</p>
            <div class="how-blocks d-flex justify-content-between align-items-center flex-wrap">
                <div>
                    <img src="assets/images/svg/how-location.svg" class="img-fluid" />
                    <p>Choose a <span>location</span></p>
                </div>
                <div>
                    <img src="assets/images/svg/how-technical.svg" class="img-fluid" />
                    <p>Choose the <span>type of service</span></p>
                </div>
                <div>
                    <img src="assets/images/svg/how-calender.svg" class="img-fluid"/>
                    <p>Choose the <span>date & time</span></p>
                </div>
                <div>
                    <img src="assets/images/svg/how-user.svg" class="img-fluid" />
                    <p>Book an <span>iWorker</span></p>
                </div>
            </div>
        </div>
    </div>
</section>